.header-container {
    background-color: plum;
    padding: 0 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
}


.menu-list {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.menu-list > a, .menu-list > div > a, .menu-list > div{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}

.menu-list > i {
    font-size: 50px;
    color: rgb(98, 6, 140);

}

.cart > a {
    margin-left: 10px;
}

.menu-list > a:hover {
    color: rgb(98, 6, 140);
    transition: 0.5% ease-in-out;
}

.cart > i.fa-cart-shopping {
    margin-left: 500px;
}

.cart > i.fa-cart-shopping:hover {
    color: rgb(98, 6, 140);
    transition: 0.5% ease-in-out;
}



.cart > a:hover {
    color: rgb(98, 6, 140);
    transition: 0.5% ease-in-out;
}

